<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  </head>
  <body ng-app="myapp">
  	
    <div ng-controller="firstcall">
    	<table class="table table-bordered table-hover table-striped">
    		<thead>
    			<tr>
    				<th>id</th>
    				<th>Descrição</th>
    			</tr>
    		</thead>
    		<tbody>
				<tr ng-repeat="umitem in ItensList">
					<th>{{umitem.id}}</th>
					<th>{{umitem.nome}}</th>
				</tr>    		
    		</tbody>
    	</table>
    </div>
    <script type="text/javascript">
    	
    	var app = angular.module('myapp',[]);
    	
    	
    	app.controller('firstcall',['$scope','$http', function ($scope, $http) {
    		$http({  
                url: "/api/itens",  
                dataType: 'json',  
                method: 'GET',  
                data: '',  
                headers: {  
                    "Content-Type": "application/json"  
                }  
            }).then(function (response) {  
                //debugger;  
                $scope.ItensList = response.data._embedded.itens;  
            },function (error) {  
                   alert(error);  
            }); 
   		}]);
    	
    </script>
    
  </body>
</html>